In [1]:
import pandas as pd

In [4]:
fn = "official_demo/py4at/data/AAPL.csv"

In [7]:
with open(fn,"r") as f:
    for _ in range(5):
        print(f.readline(),end="")

Date,HIGH,CLOSE,LOW,OPEN,COUNT,VOLUME
2020-04-01,248.72,240.91,239.13,246.5,460606.0,44054638.0
2020-04-02,245.15,244.93,236.9,240.34,380294.0,41483493.0
2020-04-03,245.7,241.41,238.9741,242.8,293699.0,32470017.0
2020-04-06,263.11,262.47,249.38,250.9,486681.0,50455071.0

In [11]:
import csv
csv_reader = csv.reader(open(fn,"r"))
data = list(csv_reader)
data[:5]

[['Date', 'HIGH', 'CLOSE', 'LOW', 'OPEN', 'COUNT', 'VOLUME'],
 ['2020-04-01',
  '248.72',
  '240.91',
  '239.13',
  '246.5',
  '460606.0',
  '44054638.0'],
 ['2020-04-02',
  '245.15',
  '244.93',
  '236.9',
  '240.34',
  '380294.0',
  '41483493.0'],
 ['2020-04-03',
  '245.7',
  '241.41',
  '238.9741',
  '242.8',
  '293699.0',
  '32470017.0'],
 ['2020-04-06',
  '263.11',
  '262.47',
  '249.38',
  '250.9',
  '486681.0',
  '50455071.0']]

In [12]:
data = pd.read_csv(fn,index_col=0,parse_dates=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 21 entries, 2020-04-01 to 2020-04-30
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HIGH    21 non-null     float64
 1   CLOSE   21 non-null     float64
 2   LOW     21 non-null     float64
 3   OPEN    21 non-null     float64
 4   COUNT   21 non-null     float64
 5   VOLUME  21 non-null     float64
dtypes: float64(6)
memory usage: 1.1 KB

In [14]:
data.tail()

              HIGH   CLOSE     LOW    OPEN     COUNT      VOLUME
Date
2020-04-24  283.01  282.97  277.00  277.20  306176.0  31627183.0
2020-04-27  284.54  283.17  279.95  281.80  300771.0  29271893.0
2020-04-28  285.83  278.58  278.20  285.08  285384.0  28001187.0
2020-04-29  289.67  287.73  283.89  284.73  324890.0  34320204.0
2020-04-30  294.53  293.80  288.35  289.96  471129.0  45765968.0

In [15]:
data['CLOSE'].mean()

272.38619047619045

In [ ]:
## xls的文件在pandas中不支持使用了

In [17]:
data.to_json("./xxxx.json")

In [39]:
import pandas_datareader as web
from datetime import datetime

In [42]:
data = web.DataReader("AAPL","quandl",datetime(2020,1,1),datetime(2022,1,1),api_key= "-MrAGyZPx3QwRs4Zn136")

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Open        0 non-null      object
 1   High        0 non-null      object
 2   Low         0 non-null      object
 3   Close       0 non-null      object
 4   Volume      0 non-null      object
 5   ExDividend  0 non-null      object
 6   SplitRatio  0 non-null      object
 7   AdjOpen     0 non-null      object
 8   AdjHigh     0 non-null      object
 9   AdjLow      0 non-null      object
 10  AdjClose    0 non-null      object
 11  AdjVolume   0 non-null      object
dtypes: object(12)
memory usage: 0.0+ bytes

In [45]:
import configparser

In [46]:
config = configparser.ConfigParser()  ## config.read(). 就是读取配置文件 这个没有太多的实用价值

In [ ]:
h5 = pd.HDFStore('data/data.h5', 'w')
h5 = pd.HDFStore('data/data.h5', 'r')
data.to_hdf('data/data.h5', 'data', format='table')

In [52]:
import tables as tb

In [ ]:
h5 = tb.open_file('data/data.h5', 'r')

In [ ]:
## 通过pytables来打开一个文件，转为ts后，再实时的写入到这个文件中

In [ ]:
import tstables
import tables as tb

In [ ]:
h5 = tb.open_file('data/data.h5ts', 'w')
ts = h5.create_ts('/', 'data', desc)
ts.append(data)